* {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  margin: auto;
  text-align: center;
  font-family: "Lato", sans-serif;
}

header {
  background-color: #92f6ec;
  font-family: "McLaren", sans-serif;
  color: #ff6fef;
}

h1 {
  padding: 20px 0 40px 0;
}

h2 {
  font-family: "McLaren", sans-serif;
  font-size: 2rem;
  color: #fea92e;
  padding: 20px 0 40px 0;
}

h3 {
  color: #ff6fef;
  font-size: 1.5rem;
}

footer {
  color: #fea92e;
  font-size: 1.4rem;
  margin-top: 60px;
}

button {
  padding: 10px;
  margin: 75px 0 20px;
  border-radius: 5px;
  background-color: #92f6ec;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}

button a {
  color: #ff6fef;
  text-decoration: none;
}

#lunch-img {
  max-width: 250px;
}

.color-change {
  color: #35d2fe;
}


@media (min-width: 800px) {

  body {
    display: flex;
    align-items: center;
  }

  header, #lunch-content {
    height: 90vh;
    width: 50%;
    padding-top: 100px;
  }

}
