* {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  margin: auto;
  text-align: center;
  font-family: "Lato", sans-serif;
}

header {
  background-color: #92f6ec;
  font-family: "McLaren", sans-serif;
  color: #ff6fef;
}

h1 {
  padding: 20px 0 40px 0;
}


@media (min-width: 800px) {

  body {
    display: flex;
    align-items: center;
  }

  header, #lunch-content {
    height: 100vh;
    width: 50%;
    padding-top: 100px;
  }

}
