* {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  margin: auto;
  text-align: center;
}

header {
  background-color: #92f6ec;
}


@media (min-width: 800px) {

  body {
    display: flex;
    align-items: center;
  }

  header, #lunch-content {
    height: 100vh;
    width: 50%;
    padding-top: 100px;
  }

}
